
table{
    border-collapse: collapse;

}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    overflow: hidden;
  }

body{
    margin: 0;
}
.textBox{
    word-wrap: break-word;
    overflow: hidden;
}

table{
    display: inline;
}